.login-page {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  align-items: center;
  background: url('https://picsum.photos/1200/800/?random') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100%;

  .ui.container {
    vertical-align: middle;
    margin-bottom: 20vh;
  }
}